<%= render "shared/titulo_pagina", titulo: t(:amigos) %>
<div class="center list-group">
  <% @amigos.each do |amigo| %>
    <ul class="list-group-item listing">
      <div class="row">
        <%= link_to amigo.nombre.capitalize, usuario_path(amigo) %></li>
        <div>
          <% if logged_in? && (usuario_actual == @usuario || usuario_actual.admin?)%>
            <%= button_to t(:borrar_amigos), borrar_amigos_usuario_path(amigo), method: :delete, class: "btn btn-xs btn-danger" %>
          <% end %>
        </div>
      </div>
    </ul>      
  <% end %>
</div>