<li class="card">
    <!--<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                  alt="Card image cap">-->
    <div class="card-body">
    <h4 class="card-title"><%= link_to pelicula.nombre.capitalize, pelicula_path(pelicula) %></h4>
    <% if pelicula.generos.any? %>
        <ul class="list-group list-group-horizontal">
            <%= render pelicula.generos %>
        </ul>
    <% end %>
    </div>
</li>