<li class="card">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                  alt="Card image cap">
    <div class="card-body">
    <h4 class="card-title"><%=pelicula.nombre.capitalize %></h4>
    </div>
</li>