body{
    background-color: #ddd;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
img{
    height: auto;
    width: auto;
    min-height: 250px;
    background-color: #ddd;
}
a{
    color: black;
    text-decoration: none;
}
.carousel-control-prev{
    margin-left:-10%
}
.carousel-control-next{
    margin-right:-10%
}

.sesion a{
    color: white;
}

#cerrar-mensaje{
    float:right
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
    color: #142b14;
}

  .pagination {
    border-left: 1px solid #ddd;
  }
    .pagination .first{
        padding : 0;
        float: none;
        border: none;
    }
    .pagination .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .pagination .page{
        padding : 0;
        float: none;
        border: none;
    }
    .pagination .next{
        padding : 0;
        float: none;
        border: none;
    }
    .pagination .last{
        padding : 0;
        float: none;
        border: none;
    }
.nav-item{
    font-size: 20px;
}

.bandera{
    margin-left: 10px;
    height: 30px;
    width: 30px;
    min-height: 0;
    background-color: white;
}

.fixed{
    position:fixed;
    width: 100%;
    z-index: 1;
}
.mensajes{
    margin-top: 75px;
}

.main{
    margin-top: -75px;
}

.card-body{
    background-color: #DDD;
}

.titulo{
    padding-top: 70px;
}

.caja{
    display: inline-block;
    max-width: 60%;
}

.provider{
    height: 100px;
    width: auto;
    margin-top: 0px;
}

.poster{
    height: 500px;
}

.parent{
    display: flex;
    flex-direction: row;
}

.nombre-lista{
    text-decoration: underline;
}

.enlace_lista{
    color:#DDD
}

.enlace_lista:hover{
    color:#DDD
}

footer{
    background-color: #212529;
    color: #DDD;
    width: 100%;
    margin-top: auto;
}

#anadir, #borrar{
    background-color: #212529;
    color: #DDD;
    border-radius: 10%;
}

@media only screen and (max-width: 800px) {
    .caja{
        display: block;
        max-width: 100%;
    }
    .parent{
        
    flex-direction: column;
    }
  }