<div class="center">
    <% flash.each do |name, msg| %>
      <div id="mensajes" class="alert alert-info alert-<%= name %>" role="alert">
        <%= msg %>
        <a id="cerrar-mensaje" href="#">X</a>
      </div>
    <% end %>
</div>
<script>
  $('#cerrar-mensaje').on("click", function() {
      $('#mensajes').hide(100)
  })
</script>